<!DOCTYPE html>

<html>

  <head>
    <link rel='stylesheet' href='stylesheets/dstyle.css'/>
  </head>

  <body>
      <table class="day">
      </table>
      <script>
       var currentDate = new Date('<%=current%>');
      </script>
      <script src="javascripts/jquery-3.1.1.js"></script>
      <script type="text/javascript" src="javascripts/masterScript.js"></script>
      <script type="text/javascript" src="javascripts/dayScript.js"></script>
  </body>

</html>
