<!DOCTYPE html>

<html>

  <head>
    <link rel='stylesheet'  href='../stylesheets/Estyle.css'/>
  </head>

  <body>
      <table class="events">
        <thead>
          <tr>
            <th>Events</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              Testing
            </th>
          </tr>
      </table>
      <script type="text/javascript" src="js/mainScript.js"></script>
      <script src="js/jquery-3.1.1.js"></script>
      <script type="text/javascript" src="js/eventsScript.js"></script>
  </body>

</html>
